<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>Mentor Dashboard</h1>

    <div class="container mt-5">
        <h1 class="mb-4">Available Courses</h1>

        <div class="row">
            {% for course in courses %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ course[1] }}</h5> <!-- Course Name -->
                        <img src="{{ url_for('static', filename=course[4][7:]) }}" class="card-img-top" alt="Course Thumbnail">
                        <p class="card-text"><strong>Description: </strong>{{ course[2] }}</p>   <!-- Description -->
                        {% if course[3] %}
                            <a href="{{ course[3] }}" target="_blank" class="btn btn-primary btn-sm"> {{ course[3] }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- 
    Logout Button -->
    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit" style="background-color: red; color: white; padding: 10px; border: none; cursor: pointer;">
            Logout
        </button>
    </form>

</body>
</html>
